<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>AudioTube</title>
    </head>
    <body>
        <h1>Convert Audio to Video</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <ul>
                <li>
                    <label>Select PNG/JPEG image file (up to 25Mb):</label>
                    <input type="file" name="uploads[image]" accept="image/png, image/jpeg" />
                </li>
                <li>
                    <label>Select MP3 audio file (up to 100Mb):</label>
                    <input type="file" name="uploads[audio]" accept="audio/*" />
                </li>
                <li>
                    <label>Title(optional):</label>
                    <input type="text" name="title"/>
                </li>
                <li>
                    <input type="submit" />
                </li>
            </ul>
        </form>
    </body>
</html>
