<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>AudioTube</title>
    </head>
    <body>
        <h1>Uploaded</h1>
            <ul>
                <li>
                    <label>PNG/JPEG image file:</label>
                    %(uploads[image])s
                </li>
                <li>
                    <label>MP3 audio file:</label>
                    %(uploads[audio])s
                </li>
                <li>
                    <label>Title(optional):</label>
                    %(uploads[title])s
                </li>
            </ul>
    </body>
</html>
